<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Pridėti prekę</title>
</head>
<body>
    <h1>Pridėti prekę</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price() }}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity() }}
        </p>
        <p>
            {{ form.stock_left.label }}<br>
            {{ form.stock_left() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>