{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="login-form">
        <h2>Registracija</h2>

        {%with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="Įveskite vardą..") }}
                {% if form.name.errors %}
                    <div class="alert">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <div class="form-group">
                {{ form.lastname.label }}
                {{ form.lastname(class="form-control", placeholder="Įveskite pavardę..") }}
                {% if form.lastname.errors %}
                    <div class="alert">
                        {% for error in form.lastname.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Įveskite el. paštą..") }}
                {% if form.email.errors %}
                    <div class="alert">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password1.label }}
                {{ form.password1(class="form-control", placeholder="Įveskite slaptažodį (min 8 simboliai)") }}
                {% if form.password1.errors %}
                    <div class="alert">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
                        <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2(class="form-control", placeholder="Pakartokite slaptažodį..") }}
                {% if form.password2.errors %}
                    <div class="alert">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {{ form.submit(class="btn-login") }}
            <div class="bottom">
                <p>Jau turi prisijungimą ? <a href="{{ url_for('index') }}"> spausk čia</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}