<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Prisijungimas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">Shopas</a>
            <ul>
                <li><a href="../">Pagrindinis</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.user_role == 1 %}
                    <li><a href="{{ url_for('admin.dashboard') }}">Admin panėlė</a></li>
                    <li><a href="{{ url_for('logout.logout') }}">Atsijungti</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user.user_dashboard') }}">Vartotojo skydas</a></li>
                    <li><a href="{{ url_for('logout.logout') }}">Atsijungti</a></li>
                    {% endif %}
                {% else %}
                <li><a href="../login">Prisijungti</a></li>
                <li><a href="../register/add_user">Registruotis</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        {% block content %}
        
        {% endblock %}
    <footer>
        <p>&copy; 2025 Footeris.</p>
    </footer>
</body>
</html>