{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-bold my-6">Visos Prekės</h1>
    
    <!-- Rikiavimo nuorodos -->
    <div class="mb-4">
        <span class="font-semibold">Rikiuoti pagal:</span>
        <a href="{{ url_for('home.products', sort_by='price_asc') }}" class="text-green-600 hover:underline px-2">Kainą (didėjančiai)</a>
        <a href="{{ url_for('home.products', sort_by='price_desc') }}" class="text-green-600 hover:underline px-2">Kainą (mažėjančiai)</a>
        <a href="{{ url_for('home.products', sort_by='name') }}" class="text-green-600 hover:underline px-2">Pavadinimą</a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {% for product in products %}
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="p-6">
                <h2 class="font-bold text-xl mb-2">{{ product.name }}</h2>
                <p class="text-gray-700 text-base mb-4">
                    {{ product.description[:100] }}{% if product.description|length > 100 %}...{% endif %}
                </p>
                <div class="flex justify-between items-center mb-4">
                    <span class="text-2xl font-bold text-gray-900">{{ "%.2f"|format(product.price) }} €</span>
                    <!-- <span class="text-yellow-500 font-bold">★ 0 / 5</span> -->
                     <!-- product.average_rating - vietoj nulio atsiliepimu veliau -->
                </div>
                <!-- <a href="#" class="w-full text-center block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Plačiau</a> -->
                 <!-- url_for('home.product_detail', product_id=product.id) idesim veliau vietoj # -->
                {% if current_user.is_authenticated %}
                    {% if current_user.user_role != 1 %}
                    <form action="{{ url_for('user.add_to_cart', product_id=product.id) }}" method="POST" class="mt-2">
                        <button type="submit" class="w-full text-center block bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300">
                            Į Krepšelį
                        </button>
                    </form>
                    {% endif%}
                {% endif %}
            </div>
        </div>
        {% else %}
        <p>Šiuo metu prekių nėra.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}