{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-bold my-6">Pirkinių krepšelis</h1>
    <div class="bg-white p-8 rounded-lg shadow-lg">
        {% if cart_items %}
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="w-2/5 text-left py-3 px-4 uppercase font-semibold text-sm">Prekė</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Kaina</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Kiekis</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Suma</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for item in cart_items %}
                    <tr>
                        <td class="text-left py-3 px-4">{{ item.product.name }}</td>
                        <td class="text-left py-3 px-4">{{ "%.2f"|format(item.product.price) }} €</td>
                        <td class="text-left py-3 px-4">{{ item.quantity }}</td>
                        <td class="text-left py-3 px-4">{{ "%.2f"|format(item.product.price * item.quantity) }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right mt-6">
                <p class="text-2xl font-bold">Bendra suma: {{ "%.2f"|format(total) }} €</p>
                <form action="#" method="POST" class="mt-4">
                     <!-- url_for('user.buy_cart') sitas su skliausteliais i action vietoj # -->
                    <button type="submit" class="bg-green-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-green-600 transition duration-300">
                        Pirkti
                    </button>
                </form>
            </div>
        {% else %}
            <p class="text-center text-gray-600">Jūsų krepšelis tuščias.</p>
        {% endif %}
    </div>
</div>
{% endblock %}